@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');

body {
    font-family: 'Big Shoulders Display', cursive;
    position: relative;
}

p {
    font-family: 'Outfit', sans-serif;
}

.black-box {
    position: absolute;
    top: -189px;
    width: 450px;
    height: 800px;
    background-color: #151515;
}

.hero-img {
    position: absolute;
    top: -189px;
    left: 450px;
    z-index: -99;
}

.hero-img-tablet,
.hero-img-mobile,
.grid-1-tablet,
.grid-1-mobile,
.grid-2-tablet,
.grid-2-mobile,
.grid-3-tablet,
.grid-3-mobile {
    display: none;
}

/*********************************** Intro ***********************************/

.container {
    max-width: 1110px;
    margin: 189px auto 0;
}

header {
    display: flex;
    justify-content: space-between;
}

header p {
    margin-bottom: 64px;
    width: 350px;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
}

h1 {
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: exclusion;
}

.location-btn {
    display: flex;
}

.location-a {
    padding: 24px 35px 24px 32px;
    background-color: #151515;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
    transition: 0.3s;
}

.location-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    transition: 0.3;
}

.our-location:hover .location-a {
    background-color: #D5966C;
}

.our-location:hover .location-arrow {
    background-color: #151515;
}

/*********************************** Gallery ***********************************/

.gallery {
    margin-top: 494px;
}

.gallery-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.your-day {
    width: 350px;
}

h3 {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #151515;
}

.your-day p {
    margin-top: 32px;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
}

.gallery-2 {
    margin-top: 30px;
    margin-bottom: 180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.be-inspired {
    margin-top: 30px;
    width: 445px;
    padding: 65px 47px 64px 48px;
    background-color: #151515;
}

.be-inspired h3 {
    color: #FFFFFF;
    margin-bottom: 32px;
}

.be-inspired p {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}

/*********************************** Footer ***********************************/

.footer-box {
    width: 100%;
    padding: 80px 0;
    background-color: #151515;
}

.footer-box .container {
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer p {
    margin-left: 140px;
    width: 430px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.social {
    display: flex;
    gap: 20px;
}

.icon-white {
    fill: #FFFFFF;
    transition: 0.3s;
}

.icon-white:hover {
    fill: #D5966C;
    cursor: pointer;
}

/*********************************** Location Page ***********************************/

.map {
    width: 100%;
    height: 570px;
    display: block;
}

/* .map-location {
    position: absolute;
    top: 300px;
    left: 50%;
} */

.back-to-home {
    position: absolute;
    top: 50px;
    left: 156px;
}

.back-to-home:hover .location-a {
    background-color: #D5966C;
}

.back-to-home:hover .location-arrow {
    background-color: #151515;
}

.location-black-box {
    padding-top: 104px;
    width: 100%;
    height: 548px;
    background-color: #151515;
}

.location-black-box .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h4 {
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #D5966C;
}

address p {
    width: 540px;
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}

/*********************************** Location Footer ***********************************/

.location-gold-box {
    width: 100%;
    height: 244px;
    background-color: #D5966C;
}

.location-gold-box .container {
    margin: 0 auto;
}

.location-gold-box {
    padding-top: 80px;
}

.location-gold-box p {
    color: #151515;
}

.icon-black {
    fill: #151515;
    transition: 0.3s;
}

.icon-black:hover {
    fill: #FFFFFF;
    cursor: pointer;
}

/*********************************** Responsive For Talet ***********************************/

@media (max-width: 1100px) {

    .container {
        width: 90%;
        margin: 145px auto 0;
    }

    .black-box,
    .hero-img,
    .grid-1-desktop,
    .grid-2-desktop,
    .grid-3-desktop {
        display: none;
    }

    .hero-img-tablet {
        top: -145px;
        display: block;
        position: absolute;
        z-index: -99;
    }

    .header-wraper {
        z-index: 100;
        display: flex;
        justify-content: end;
    }

    header,
    .grid-1-tablet,
    .grid-2-tablet,
    .grid-3-tablet {
        display: block;
    }

    h1 {
        font-size: 70px;
        line-height: 65px;
        color: #151515;
        mix-blend-mode: normal;
    }

    header p {
        margin-top: 48px;
        margin-bottom: 48px;
        font-size: 18px;
        line-height: 28px;
        width: 339px;
    }

    /* Gallery */

    .gallery {
        margin-top: 265px;
    }

    .h3 {
        font-size: 50px;
        line-height: 45px;
    }

    .your-day {
        width: 223px;
    }

    .your-day p {
        margin-top: 24px;
        font-size: 18px;
        line-height: 28px;
    }

    .gallery-2 {
        margin-top: 11px;
        margin-bottom: 120px;
    }

    .right-col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .be-inspired {
        width: 280px;
        padding: 85px 28px;
    }

    .be-inspired h3 {
        margin-bottom: 24px;
        font-size: 50px;
        line-height: 45px;
    }

    .be-inspired p {
        font-size: 18px;
        line-height: 28px;
    }

    .footer-box {
        padding: 56px 0;
    }

    footer p {
        margin-left: 64px;
        width: 281px;
        font-size: 16px;
        line-height: 26px;
    }

    .location-black-box {
        height: auto;
        padding-top: 88px;
        padding-bottom: 80px;
    }

    h2 {
        font-size: 55px;
        line-height: 50px;
    }

    h4 {
        font-size: 32px;
        line-height: 32px;
    }

    address p {
        width: 398px;
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 28px;
    }

}

/*********************************** Responsive For Mobile ***********************************/

@media (max-width: 775px) {

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .hero-img-tablet,
    .grid-1-tablet,
    .grid-2-tablet,
    .grid-3-tablet {
        display: none;
    }

    .hero-img-mobile {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    header {

        margin: 32px auto 0;
    }

    h1 {
        font-size: 60px;
        line-height: 55px;
    }

    header p {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .gallery {
        margin-top: 120px;
    }

    .gallery-1 {
        flex-direction: column-reverse;
        gap: 25px;
    }

    .grid-1-mobile,
    .grid-2-mobile,
    .grid-3-mobile {
        display: block;
    }

    .your-day {
        width: 343px;
    }

    h3 {
        font-size: 50px;
        line-height: 45px;
    }

    .gallery-2 {
        margin-top: 32px;
        flex-direction: column;
        align-items: center;
    }

    .right-col {
        margin-top: 16px;
    }

    .be-inspired {
        padding: 48px 24px;
        width: 343px;
        margin-top: 16px;
    }

    .footer-box {
        padding: 48px 0;
    }

    footer {
        flex-direction: column;
        max-width: max-content;
        margin: 0 auto;
    }

    .footer-left-col {
        flex-direction: column;
    }

    .footer-left-col p {
        margin: 38px 0;
        width: 311px;
    }

    .back-to-home {
        top: 0;
        left: 0;
    }

    .location-black-box {
        padding-top: 48px;
        padding-bottom: 56px;
        height: auto;
    }

    .location-black-box .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        width: 343px;
        margin-bottom: 48px;
        font-size: 50px;
        line-height: 45px;
    }

    h2 br {
        display: none;
    }

    h4 {
        font-weight: 900;
        font-size: 32px;
    }

    address p {
        width: 343px;
        margin-top: 20px;
        font-size: 18px;
        line-height: 28px;
    }

    .location-gold-box {
        padding-top: 48px;
        padding-bottom: 48px;
        height: 336px;
    }

}